## Deliverable 3. Create a Travel Itinerary Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from G_key import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [63]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Lompoc,US,68.02,clear sky,34.6391,-120.4579,"Holiday Inn Express Lompoc, an IHG Hotel"
1,1,Hobyo,SO,83.77,scattered clouds,5.3505,48.5268,Iftin hotel hobyo
2,2,Chernoyerkovskaya,RU,53.24,broken clouds,45.4331,37.7686,Chernoyerkovskaya
3,3,Busselton,AU,61.48,overcast clouds,-33.6500,115.3333,Observatory Guest House
4,4,Ushuaia,AR,46.06,broken clouds,-54.8000,-68.3000,Albatross Hotel

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp}Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df['City']== 'Boyolangu')]
vacation_end = vacation_df.loc[(vacation_df['City']== 'Boyolangu')]
vacation_stop1 = vacation_df.loc[(vacation_df['City']== 'Bondowoso')]
vacation_stop2 = vacation_df.loc[(vacation_df['City']== 'Labuhan')]
vacation_stop3 = vacation_df.loc[(vacation_df['City']== 'Srandakan')]

In [6]:
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
110,145,Boyolangu,ID,76.24,overcast clouds,-8.1181,111.8935,Yos ega cv

In [36]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = round(vacation_start["Lat"].to_numpy()[0],1), round(vacation_start["Lng"].to_numpy()[0],1)
end = round(vacation_end["Lat"].to_numpy()[0],1), round(vacation_end["Lng"].to_numpy()[0],1)
stop1 = round(vacation_stop1["Lat"].to_numpy()[0],1), round(vacation_stop1["Lng"].to_numpy()[0],1)
stop2 = round(vacation_stop2["Lat"].to_numpy()[0],1), round(vacation_stop2["Lng"].to_numpy()[0],1)
stop3 = round(vacation_stop3["Lat"].to_numpy()[0],1), round(vacation_stop3["Lng"].to_numpy()[0],1)

In [37]:
start

(-8.1, 111.9)

In [38]:
end

(-8.1, 111.9)

In [39]:
stop1

(-7.9, 113.8)

In [40]:
stop2

(-6.9, 112.2)

In [41]:
stop3

(-7.9, 110.3)

In [44]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
import gmaps.datasets

fig = gmaps.figure()

trip = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode='DRIVING')

fig.add_layer(trip)

fig

Figure(layout=FigureLayout(height='420px'))

In [46]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,145,Boyolangu,ID,76.24,overcast clouds,-8.1181,111.8935,Yos ega cv
1,558,Bondowoso,ID,74.71,overcast clouds,-7.9135,113.8214,Anugerah Hotel Bondowoso
2,142,Labuhan,ID,79.48,overcast clouds,-6.8844,112.2051,DoubleFAG
3,575,Srandakan,ID,77.07,overcast clouds,-7.9386,110.2506,Puri Brata

In [49]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp}Â°F</dd>
</dl>

"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [61]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()

trip = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode='DRIVING')

locations = itinerary_df[["Lat", "Lng"]]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2)

marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)

fig.add_layer(marker_layer)


# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))